<%- include('partials/header') %>


  
      <main role="main">
            <div class="container">
                    <div class="row">
                        <div class="col"><br></div>
                    </div>
                    <div class="row">
                        <div class="col"></div>
                        <div class="col-8">
                            <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
                                    <ol class="carousel-indicators">
                                      <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                                      <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                                      <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
                                    </ol>
                                    <div class="carousel-inner">
                                      <div class="carousel-item active">
                                        <img class="d-block w-100" src="https://lh3.googleusercontent.com/UD-Qs3lzCc39Wy2jMhvKLYvU7dRVZo1bjbHOM9i9Q6vt7GcwMEEhaZLDlFMhfOpsq6HthyDe=w960-h960-n-o-v1" alt="First slide">
                                        <div class="carousel-caption d-none d-md-block">
                                                <h5>We Work</h5>
                                                <p>Painting, Exterior Walls, Doors and Windows, Plumbing and Electrical</p>
                                            </div>
                                      </div>
                                      <div class="carousel-item">
                                        <img class="d-block w-100" src="https://lh3.googleusercontent.com/JPp8LWCUviMf9pbtr7_O8uyOgLsUsxWaDTXDdCT4RVLvD4V13IxJ7F1eduR8lJmB5rbWVi3_=w960-h960-n-o-v1" alt="Second slide">
                                        <div class="carousel-caption d-none d-md-block">
                                                <h5>Our Tools</h5>
                                                <p>We use lots of them.</p>
                                            </div>
                                      </div>
                                      <div class="carousel-item">
                                        <img class="d-block w-100" src="https://lh3.googleusercontent.com/HHDlOun9pburllUKtrq7isENqytOuLoj8ElRJnZvP_mEeBnrqeLKXEQSJRAZtilglxcWjj99=w960-h960-n-o-v1" alt="Third slide">
                                        <div class="carousel-caption d-none d-md-block">
                                                <h5>We Are Official!</h5>
                                                <p>Officially certified by the Geagua County Clerk of Court.</p>
                                        </div>
                                      </div>
                                    </div>
                                    <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                                      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                      <span class="sr-only">Previous</span>
                                    </a>
                                    <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                                      <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                      <span class="sr-only">Next</span>
                                    </a>
                                </div>
                            
                        </div>
                      <div class="col"></div>
                    </div>
                  </div>
            <br>
  
  
        <!-- Marketing messaging and featurettes
        ================================================== -->
        <!-- Wrap the rest of the page in another container to center all the content. -->
  
        <div class="container marketing">
  
          <!-- Three columns of text below the carousel -->
          <div class="row">
            <div class="col-lg-4">
              <img class="rounded-circle" src="images/under-construction.jpg" alt="Generic placeholder image" width="140" height="140">
              <h2>Residential And Commercial</h2>
              <p>Need a contractor? We do both!</p>
              <p><a class="btn btn-secondary" href="/pricing" role="button">Pricing Details &raquo;</a></p>
            </div><!-- /.col-lg-4 -->
            <div class="col-lg-4">
              <img class="rounded-circle" src="images/workshop.jpg" alt="Generic placeholder image" width="140" height="140">
              <h2>Professional Service</h2>
              <p>Offering a free quote. We have the tools and experience to handle a wide range of jobs from plumbing to roofing! Call us at (440) 796-9239</p>
              <p><a class="btn btn-secondary" href="/contactus" role="button">Contact Us &raquo;</a></p>
            </div><!-- /.col-lg-4 -->
            <div class="col-lg-4">
              <img class="rounded-circle" src="images/more-tools.jpg" alt="Generic placeholder image" width="140" height="140">
              <h2>Talented Work</h2>
              <p>We have what you need to get jobs done!</p>
              <p><a class="btn btn-secondary" href="/reviews" role="button">See Reviews &raquo;</a></p>
            </div><!-- /.col-lg-4 -->
          </div><!-- /.row -->
  
  
          <!-- START THE FEATURETTES -->
  
          <hr class="featurette-divider">
  
          <div class="row featurette">
            <div class="col-md-7">
              <h2 class="featurette-heading">Family Goes First. <span class="text-muted">We Care.</span></h2>
              <p class="lead">Here at Ricket's we have a family first mentality. Safety for our customers and their family is important. We appreciate the opportunity to serve our customers in whatever way they need, for both homes and businesses.</p>
            </div>
            <div class="col-md-5">
              <img class="featurette-image img-fluid mx-auto" src="images/construction.jpg" alt="Generic placeholder image">
            </div>
          </div>
  
          <hr class="featurette-divider">
  
          <div class="row featurette">
            <div class="col-md-7 order-md-2">
              <h2 class="featurette-heading">Save Money With Us. <span class="text-muted">You Will Be Happy About It.</span></h2>
              <p class="lead">A home inspection can now be partnered with a maintenance plan and a prepaid home repair program. This is designed to help relieve the pain of major expenses and lock in today's prices on future repairs.</p>
            </div>
            <div class="col-md-5 order-md-1">
              <img class="featurette-image img-fluid mx-auto" src="images/even-more-tools.jpg" alt="Generic placeholder image">
            </div>
          </div>
  
          <hr class="featurette-divider">
  
          <div class="row featurette">
            <div class="col-md-7">
              <h2 class="featurette-heading">Our Premium Packages. <span class="text-muted">We Got This...</span></h2>
              <p class="lead">Annual maintenance packages designed to maintain your home or business  to prevent premature failure of your current systems primarily roofing and stone/brick exteriors, window caulking and pressure washing for cosmetics on the outside.</p>
            </div>
            <div class="col-md-5">
              <img class="featurette-image img-fluid mx-auto" src="images/craftsmen.jpg" alt="Generic placeholder image">
            </div>
          </div>
  
          <hr class="featurette-divider">
  
          <!-- /END THE FEATURETTES -->
  
        </div><!-- /.container -->
  
  
        <!-- FOOTER -->
        <footer class="container">
          <p class="float-right"><a href="#">Back to top</a></p>
          <p>&copy; 2017-2018 Company, Inc. &middot; <a href="#">Privacy</a> &middot; <a href="#">Terms</a></p>
        </footer>
      </main>

<%- include('partials/footer') %>